.render-cont {
    margin-top: 50px;
}

.inner-sq {
    width: 25px;
    height: 25px;
    padding: 20px 20px;
    display: inline-block;
    text-align: center;
}

.inner-sqbdr {
    border-top: 1px solid;
    border-right: 1px solid;
}

.row-sq .inner-sqbdr:first-child {
    border-left: 1px solid;
}

.inner-sqbdr-lastrow {
    border-bottom: 1px solid;
}
